*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(212, 212, 247);
}
center{
    width: 50%;
}
h1{
    color: rgb(4, 51, 190);
    font-size: 80px;
}
center{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 500px;
    height:350px ;
    box-shadow: 15px 20px rgba(0,0,0,0,1),
    15px 15px 20px rgba(0,0,0,0,1);
    border-radius: 15px;
}
p{
    font-size: 20;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
}
input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 8px;
}
button{
    background-color: rgb(43, 86, 216);
    color: white;
    font-size: 15px;
    width: 100px;
    height: 30px;
}
p{
    color: royalblue;
}
hr{
    border: 1px solid#ccc;
    width: 328px;
    margin: 20px 0px;
}
.createaccount{
    display: flex;
    justify-content: center;
    background-color:green;
    color: beige;
    width: 150px;
    height: 40px;
    align-items: center;
    text-align: center;

}

 




